.active-btn {
    background: green;
    color: white;
}

body {
    position: relative;
  }
  
  .disable {
    display: none;
  }
  
 .products-sec {
     margin-left: 30%;
     padding: 1rem;
     /* background-color: brown; */
 } 