@import url('https://fonts.googleapis.com/css2?family=Crimson+Pro:ital,wght@0,200;0,300;0,400;0,600;0,700;0,800;0,900;1,200;1,400;1,600&family=Georama:ital,wght@0,200;0,300;0,500;0,600;1,200;1,300;1,400;1,600&family=Merriweather:ital,wght@0,300;0,400;0,700;1,300;1,700;1,900&family=Noto+Sans+JP:wght@300;400;500;700;900&family=Open+Sans:ital,wght@0,300;0,400;0,600;0,700;0,800;1,400;1,800&family=Oswald:wght@200;300;400;500;600;700&family=Palette+Mosaic&family=Poppins:ital,wght@0,100;0,300;0,400;0,600;1,100;1,400;1,500&family=Roboto:ital,wght@0,100;0,300;0,400;0,900;1,100;1,300;1,400;1,700&family=Style+Script&display=swap');

.flex {
    display: flex;
}
.input-box {
   
    justify-content: space-between;
    width: 50vw;
    margin: 0 auto;
}

.input {
    padding: .5rem 1rem;
    font-size: 1.2rem;
    flex: 0 1 47.5%;
    border: 0;
    outline: 0;
    border-radius: .3rem;
    box-shadow: 0px 0px 20px 5px rgba(0, 0, 0, .2);
}

.input:focus {
    border: 2px solid blue;
}

.slider {
    flex: 0 1 35%;
}

.wrap {
    flex-wrap: wrap;
}

.flex-50{
    flex: 0 1 47.5%;
}

.text-center {
    text-align: center;
}

h1{
    font-size: 3rem;
    font-family: 'Courier New', Courier, monospace;
}

section {
    width: 80vw;
    margin: 3rem auto;
    justify-content: space-between;
}

.display-box {
    margin-bottom: 2rem;
    border: 1px solid gray;
    border-radius: .3rem;
    flex-direction: column;
}

.display-box > h2 {
    background-color: rgb(218, 211, 211);
    text-align: center;
    margin: 0;
    padding: .5rem 0;
}

.display-box > div {
    height: 300px;
    display: flex;
    justify-content: center;
    align-items: center;
}